body{
    background-color: #EAF6F6;
}

h1{
    color: green;
}
hr{
    background-color:white;
    height: 2px;
    max-width: 30%;
    cursor: move;
    border-style: none;
    border-top: dotted;
}
th{
    color:  darkblue;
    height: fit-content;
    text-align: left;
}
.boxclass:hover
{
    color: #8d2fff;
}
#boxid:picture-in-picture
{
    color: rgb(141, 47, 255);
}
label
 {
    color: black;
 }

 .disp{
    display: inline;
 }